<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="TimetableManagementSystem.Properties.Settings.timetablemngsysdbConnectionString" connectionString="Data Source=timetablemngsysdb2.database.windows.net;Initial Catalog=timetablemngsysdb;Persist Security Info=True;User ID=timetableadmin;Password=imb@manN0tbruce" providerName="System.Data.SqlClient" />
    <add name="timetablemngsysdbEntities" connectionString="metadata=res://*/Statistics.LecFacDataModel.csdl|res://*/Statistics.LecFacDataModel.ssdl|res://*/Statistics.LecFacDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=timetablemngsysdb2.database.windows.net;initial catalog=timetablemngsysdb;persist security info=True;user id=timetableadmin;password=imb@manN0tbruce;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>