<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TimetableManagementSystem.Properties.Settings.timetablemngsysdbConnectionString"
            connectionString="Data Source=timetablemngsysdb2.database.windows.net;Initial Catalog=timetablemngsysdb;Persist Security Info=True;User ID=timetableadmin;Password=imb@manN0tbruce"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>